h1 {
  text-align: center;
}

.btnWrp {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  button {
    border: none;
    padding: 15px;
    border-radius: 10px;
  }

  .dec {
    background: lightcoral;
  }

  .inc {
    background: lightgreen;
  }
}

header {
  p {
    color: #fff;
  }
}

footer {
  margin-top: 30px;
}

#login {
  display: table;
  margin: 0 auto;

  button {
    margin-top: 10px;
  }
}

#register {
  display: table;
  margin: 0 auto;
  padding-top: 30px;

  button {
    margin-top: 10px;
  }
}