h2 {
  text-align: center;
}
button {
  display: flex;
  margin: 0 auto;
  border: none;
  background: lightseagreen;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
}
p {
  text-align: center;
}
